<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">
	<resultMap id="NewsResult" type="News">
		<id property="nno" column="NNO"/>
		<result property="ntitle" column="NTITLE"/>
		<result property="nlink" column="NLINK"/>
		<result property="ncreateDate" column="N_CREATE_DATE"/>
	</resultMap>
	
	<resultMap id="NoticeResult" type="Notice">
		<id property="nid" column="NID"/>
		<result property="ntitle" column="NTITLE"/>
		<result property="ncontent" column="NCONTENT"/>
		<result property="ncreatedate" column="N_CREATE_DATE"/>
		<result property="nmodifydate" column="N_MODIFY_DATE"/>
		<result property="nstatus" column="NSTATUS"/>
		<result property="ncount" column="NCOUNT"/>
		<result property="nwriter" column="NWRITER"/>
		<result property="nfile" column="NFILE"/>
	</resultMap>
	
	<insert id="insertNews" parameterType="News">
		INSERT INTO
			NEWS
				(
					NNO,
					NTITLE,
					NLINK,
					N_CREATE_DATE
				)
			VALUES
				(
					SEQ_NNO.NEXTVAL,
					#{ntitle},
					#{nlink},
					SYSDATE
				)
	</insert>
	
	<select id="selectNewsList" resultMap="NewsResult">
		SELECT
			NNO,
			NTITLE,
			NLINK,
			N_CREATE_DATE
		FROM
			(
			SELECT 
				NNO,
				NTITLE,
				NLINK,
				N_CREATE_DATE
			FROM
				NEWS
			ORDER BY NNO DESC
			)
		WHERE ROWNUM &lt;= 7		
	</select>
	
	<select id="selectNoticeList" resultMap="NoticeResult">
		SELECT
			   NID,
			   NTITLE,
			   NCONTENT,
			   N_CREATE_DATE,
			   N_MODIFY_DATE,
			   NSTATUS,
			   NCOUNT,
			   NWRITER,
			   NFILE
		FROM
			   NOTICE
		WHERE
			   NSTATUS = 'Y'
		ORDER BY
			   NID DESC
	</select>
</mapper>