<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap id="memberResult" type="Member">
		<id property="userId" column="USERID"/>
		<result property="userPwd" column="USERPWD"/>
		<result property="userName" column="USERNAME"/>
		<result property="gender" column="GENDER"/>
		<result property="phone" column="PHONE"/>
		<result property="enroll_date" column="ENROLL_DATE"/>
		<result property="birth" column="BIRTH"/>
		<result property="grade" column="GRADE"/>
		<result property="dayOff" column="DAYOFF"/>
		<result property="did" column="DID"/>
		<result property="email" column="EMAIL"/>
	</resultMap>

	<select id="emailCheck" parameterType="String" resultMap="memberResult">
		SELECT
				USERID,
				USERPWD,
				USERNAME,
				GENDER,
				PHONE,
				ENROLL_DATE,
				BIRTH,
				GRADE,
				DAYOFF,
				DID,
				EMAIL
		FROM
			    MEMBER
		WHERE
				EMAIL = #{email}
	</select>
	
	<select id="idCheck" parameterType="String" resultMap="memberResult">
		SELECT
				USERID,
				USERPWD,
				USERNAME,
				GENDER,
				PHONE,
				ENROLL_DATE,
				BIRTH,
				GRADE,
				DAYOFF,
				DID,
				EMAIL
		FROM
			    MEMBER
		WHERE
				USERID = #{userId}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT
		INTO MEMBER
			(
				USERID,
				USERPWD,
				USERNAME,
				GENDER,
				PHONE,
				ENROLL_DATE,
				BIRTH,
				GRADE,
				EMAIL
			)
		VALUES
			(
				#{userId},
				#{userPwd},
				#{userName},
				#{gender},
				#{phone},
				SYSDATE,
				#{birth},
				DEFAULT,
				#{email}
			)
	</insert>
	
	<select id="loginMember" parameterType="Member" resultMap="memberResult">
		SELECT
				USERID,
				USERPWD,
				USERNAME,
				GENDER,
				PHONE,
				ENROLL_DATE,
				BIRTH,
				GRADE,
				DAYOFF,
				DID,
				EMAIL
		FROM
			    MEMBER
		WHERE
				USERID = #{userId}
	</select>
	
	<insert id="insertMemberBySocial" parameterType="Member">
		 INSERT
		INTO MEMBER
			(
				USERID,
				USERPWD,
				USERNAME,
				ENROLL_DATE,
				GRADE,
				EMAIL
			)
		VALUES
			(
				#{userId},
				#{userPwd},
				#{userName},
				SYSDATE,
				DEFAULT,
				#{email}
			)
	</insert>
	
	<select id="selectMemberByEmail" parameterType="Member" resultMap="memberResult">
			SELECT
				USERID,
				USERPWD,
				USERNAME,
				GENDER,
				PHONE,
				ENROLL_DATE,
				BIRTH,
				GRADE,
				DAYOFF,
				DID,
				EMAIL
		FROM
			    MEMBER
		WHERE
				EMAIL = #{email}
		AND		USERNAME = #{userName}
	</select>
	
	<select id="phoneCheck" parameterType="String" resultMap="memberResult">
		SELECT
				USERID,
				USERPWD,
				USERNAME,
				GENDER,
				PHONE,
				ENROLL_DATE,
				BIRTH,
				GRADE,
				DAYOFF,
				DID,
				EMAIL
		FROM
			    MEMBER
		WHERE
				PHONE = #{phone}
	</select>
	
	<update id="updateTempPw" parameterType="Member">
		UPDATE 
			MEMBER
		SET 
			USERPWD =  #{userPwd}
		WHERE 
			USERID = #{userId}
		AND EMAIL = #{email}
		AND USERNAME = #{userName}
	</update>
	
	<update id="updatePwdByPhone" parameterType="Member">
		UPDATE 
			MEMBER
		SET 
			USERPWD =  #{userPwd}
		WHERE 
			USERID = #{userId}
		AND PHONE = #{phone}
	</update>
	
	<select id="updateMember" parameterType="Member">
	UPDATE
				MEMBER
	SET
				USERNAME = #{userName}
			  ,	GENDER = #{gender}
			  , BIRTH = #{birth}
			  , PHONE = #{phone}
			  , EMAIL = #{email}
	WHERE
				USERID = #{userId}
	</select>
	
	<update id="deleteMember" parameterType="Member">
	UPDATE
			MEMBER
	   SET
	   		STATUS = 'N'
	  WHERE
	  		USERID = #{userId}
	   		
	</update>
	
	<update id="updatePwd" parameterType="Member">
	UPDATE
			MEMBER
	   SET
	   		USERPWD = #{userPwd}
	 WHERE
	 		USERID = #{userId}
	</update>
</mapper>